// dropdown btn
.dropdown {
    button {
        i {
            font-size: 1.3em;
        }

        &:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        }
    }
}

// calculadora
.calculadora {
    border: 5px solid;
    border-radius: 8px;
    padding: .6em .8em;
    // tela
    .tela-calculadora {
        input {
            width: 100%;
            border: 0;
            text-align: right;
            padding: .1em .5em;
            font-size: 2em;
            font-weight: bold;
            border-radius: 0 0 6px 6px;
        }
        
        #mostrar-calculo {
            font-size: 1em;
            padding: .4em 1em 0;
            border-radius: 6px 6px 0 0;
        }
    }

    // numeros
    .teclado {
        .numeros {
            button {
                width: 30%;
                margin-bottom: .5em;
                padding: .2em 0;
                font-size: 1.7em;
                font-weight: bold;
                border-radius: .2em;
                border: 3px solid;
                transition: border .15s, color .15s;

                @media (max-width: 575.98px) {
                    font-size: 1.4em;
                }
            }

            #nm0 {
                width: 63%;
            }

            #nmDot {
                width: 30%;
            }
        }

        .calculos {
            button {
                width: 100%;
                font-size: 1.3em;
                margin-bottom: .2em;
                font-weight: bold;
                border-radius: .2em;
                border: 3px solid;
                transition: border .15s, color .15s;

                @media (max-width: 575.98px) {
                    font-size: 1.02em;
                }
            }

            #slash {
                font-size: .6em;
                display: inline-block;
                margin-bottom: 8px;
                font-weight: bold;
            }

            #equal {
                font-size: 2em;
                padding: 0;

                @media (max-width: 575.98px) {
                    font-size: 1.75em;
                }
            }
        }
    }
}

// rede social
.rede-social {
    a {
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        margin: 3px 0;
        display: inline-block;

        i {
            border-radius: 5px;
            padding: 5px;
        }
    }

    >span {
        font-size: 1.2em;
        font-weight: bold;
    }
}